{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CompanyService</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Warranty</th>
                <td>{{ entity.warranty }}</td>
            </tr>
            <tr>
                <th>Maintenance</th>
                <td>{{ entity.maintenance }}</td>
            </tr>
            <tr>
                <th>Additionally</th>
                <td>{{ entity.additionally }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('companyservice') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('companyservice_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
