{% extends '@BionicUniversityProject/Layout/mainlayout.html.twig' %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form' }}) }}

    {{ form_errors(form.user.username) }}
    <div class="form-group">
        {{ form_label(form.user.username, 'Логин:', {'label_attr': {'class': 'col-sm-2 control-label' }}) }}
        <div class="col-sm-8">
            {{ form_widget(form.user.username, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    {{ form_errors(form.user.email) }}
    <div class="form-group">
        {{ form_label(form.user.email, 'email:', {'label_attr': {'class': 'col-sm-2 control-label' }}) }}
        <div class="col-sm-8">
            {{ form_widget(form.user.email, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    {{ form_errors(form.user.password) }}
    <div>
        <div class="form-group">
            {{ form_label(form.user.password.pass, 'Пароль:', {'label_attr': {'class': 'col-md-2 control-label' }}) }}
            <div class="col-sm-8">
                {{ form_widget(form.user.password.pass, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.user.password.confirm, ' ', {'label_attr': {'class': 'col-md-2 control-label' }}) }}
            <div class="col-sm-8">
                {{ form_widget(form.user.password.confirm, {'attr': {'class': 'form-control',
                'placeholder': 'повторите пароль' }}) }}
            </div>
        </div>
    </div>

    {{ form_errors(form.terms) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            {{ form_widget(form.terms) }}
            {{ form_label(form.terms,'согласен с правилами регистрации') }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-8 col-sm-offset-2">
            {{ form_widget(form.Register, {'label': 'Зарегистрироваться', 'attr': {'class': 'btn btn-primary' }}) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}