{% extends '@BionicUniversityProject/Admin/index.html.twig' %}

{% form_theme edit_form 'BionicUniversityUserBundle:Form:fields.html.twig' %}

{% block content %}
    <h1>Редактировать роль</h1>

    {{ form_start(edit_form) }}
    {{ form_end(edit_form) }}

    <div class="row">
        <div class="col-sm-1 col-sm-offset-2">
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-warning btn-xs' }}) }}
            {{ form_end(delete_form) }}
        </div>
        <div class="col-sm-4">
            <a href="{{ path('role') }}">назад к списку ролей</a>
        </div>
    </div>
{% endblock %}
